		.navBar {
			max-width: 3000px;
			margin-left: auto;
			margin-right: auto;
			padding-top: 25px;
			padding-bottom: 10px;
		}

		nav {
			background: linear-gradient(135deg, #062635 0%, #1696d2 100%);
		}
		
		.footer {
			background: linear-gradient(-1350deg, #062635 0%, #1696d2 100%);
    		overflow: hidden;
    		color: white;
    		box-shadow: 0 50vh 0 50vh #2A5C90;
		}

		.header{
		  background-image: url("https://images.pexels.com/photos/2255/black-and-white-city-houses-skyline.jpg");
		  width:100vw;
		  height: 100vh; 
		  background-position: center;
		  background-size: cover;
		  background-color: #262223;
		  overflow-x: hidden;
		}

		.header_text {
			max-width: 700px;
			margin: auto;
		  	padding: 0px 30px;
			align-items: center;
		
		}
		
		body {
			background-color: #f5f5f5;
			font-family: 'Karla', sans-serif;
			margin: 0;
			padding: 0;
			overflow-x: hidden;
		}

		.content {
			max-width: 700px;
  			margin: auto;
			padding: 0px 30px;
			overflow-x: hidden;
		}

		img {
			width: 100%;
  			height: auto;
			max-width: 700px;
			margin: auto;
		}
		
		p {
			font-size: 1.1rem;
			line-height: 1.7rem;
		}

		.note {
			padding: .5rem 1.5rem;
			font-style: italic;
			font-size: 1.1rem;
			background-color: #FFFF00;
		}

		.quote {
			font-size: 1.1rem;
			line-height: 1.7rem;
			padding: .5rem 3rem;
		}
		
		.citation {
			text-align: right;
            font-size: 1rem;
            font-style: italic;
            color: gray;
            margin-top: 0px;
            margin-bottom: 30px;
        }

        .citation_text {
			text-align: right;
            font-size: 1rem;
            font-style: italic;
            color: gray;
            margin-top: 10px;
            margin-bottom: 30px;
        }
        
        .citation a {
            color: gray;
        }

		h1{
            font-size: 3rem;
            color: #0A4C6A;
		}

		h2{
            font-size: 2rem;
            margin-top: 60px;
            color: #062635
		}

		h3{
            font-size: 1.6rem;
            color: #12719E;
		}

		h4{
            font-size: 1.2rem;
            color: #12719E;
		}
		
		h5{
            font-size: 1.3rem;
			color: #062635;
			margin-bottom: 0;
        }

        li {
            line-height: 1.4rem;
            margin-bottom: 10px;
        }
        
        .explain{
            padding: 10px 30px;
            margin: 40px;
            background-color: #BCDEB4;
        }

        .explain h4 {
            margin: 15px 0;
            color: #2C5C2D;
		}
		
		.dark {
			padding: 3rem 9999rem;
			background-color: #262223;
			margin: 0 -9999rem;
			overflow-x: hidden;
			color: white;
		}

		.dark_content {
			max-width: 700px;
			margin: auto;
		}

		.dark .explain p {
			color: #1a2e19;
		}

		.dark .explain li {
			color: #1a2e19;
		}

		.dark a {
			color: gray;
		}

		input[type=text], select {
			width: 100%;
			padding: 12px 20px;
			margin: 8px 0;
			display: inline-block;
			border: 1px solid #ccc;
			border-radius: 4px;
			box-sizing: border-box;
		}

		button {
			width: 100%;
			background-color: #1696d2;
			color: white;
			padding: 14px 20px;
			margin: 8px 0;
			border: none;
			border-radius: 4px;
			cursor: pointer;
		}

		.vis {
			width: 100%;
			height: 500px;
		}

		#five {
			height: 600px;
		}

		#six {
			height: 650px;
		}
		
		#seven {
			height: 800px;
		}

		#eight {
			height: 600px;
		}